<div class="centerBox">
<h1>Enter Scores</h1>

<%= render 'form' %>

<p>Total Pins: <span id="tot"></span></p>
<p>Average: <span id="avg"></span></p>

<%= link_to 'Back', game_sets_path %>
</div>

<script type="text/javascript"> 
  $("form").on("keyup", function() {
  	var games = [parseInt(document.getElementById("g1").value), 
  				 parseInt(document.getElementById("g2").value), 
  				 parseInt(document.getElementById("g3").value)]
  	var sum = total(games)
  	var avg = average(games)
	document.getElementById("tot").innerHTML = sum;
	document.getElementById("avg").innerHTML = avg;
  });
  function total(games) {
  	var filtered = filterArr(games)
  	return filtered.reduce(function(a, b) { return a + b; }, 0);
  } 
  function average(games) {
  	var sum = total(games)
  	var filtered = filterArr(games)
  	return parseFloat(Math.round((sum / filtered.length) * 100) / 100).toFixed(2);
  }
  function filterArr(arr) {
  	return arr.filter(Number);
  }
</script>


