<h1>Welcome to Goad</h1>
<p>Motivate your game by competing and goading on your friends by sharing your bowling scores. 
	Compare weekly bowling stats, handicap, scratch, and overall high series, games, and averages.
</p>
