<h1>Compare Averages</h1>

<p>Select a timeframe to compare:</p>
  <p>Week will compare over one week (Sunday-Saturday)</p>
  <p>Season will compare over the selected season</p>
  <%= select_tag :timeframe, options_for_select([ "Week", "Season" ], selected: "Week"),
      :onchange => "compareFunc(this.options[this.selectedIndex].value); return false;" %>


<div class="week">
<%= render 'week' %>
</div>

<div class="season">
<%= render 'season' %>
</div>
<br>


</div>

<script type="text/javascript"> 
  function compareFunc(x) {
		if (x == "Week") {
			$('.week').show();
			$('.season').hide();
		}
		else if (x == "Season") {
			$('.season').show();
			$('.week').hide();
		}
	};
</script>