<div>
<h1>Compare Averages</h1>

<table border='1'>
	<tr>
		<th>Bowler</th>
		<th>Average</th>
	</tr>
	
	<% @person.each do |person| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= person["first_name"] %> <%= person["last_name"] %></td>
      <td><%= person[] %></td>
	</tr>
	<% end %>
</table>

</div>
