// Place all the styles related to the enterScores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Good color reference: https://www.w3schools.com/colors/colors_picker.asp



.centerBox {background: #7575a3;
     border-color: blue;
     border-radius: 1em;
     padding: 3em;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-85%, -50%);
     text-align: center;
     }

input:invalid {
  border: 3px dashed #9f9fdf;
  background: #ff3333;
}

h1 {color: #e0e0eb;
    font-family: verdana;
    font-size: 200%;
    }
 
p {color: white;
   font-family: courier;
   font-size: 130%;
  }

#p1 {color: black;
     font-family: courier;
     font-size: 50%;
    }

.field {color: black;
        font-family: courier;
        font-size: 12px;
        width: 25%;
        }

