// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, td {
  border-collapse: collapse;
  padding: 10px;
  color: black;
  text-align: left;
}

tr:hover {
  background-color: #4CAF50;
  color: white;
  }
  
.button {
    background-color: #e0e0eb;
    border: none;
    font-family: courier;
    width: 160px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.even { 
  background-color: #e2e3ec;
  }
  
.odd { 
  background-color: #d1d2dc;
  }